*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-soomthing: antialiased;
    -moz-osx-font-soothing: grayscale;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
}

.wave {
    position: fixed;
    transform: rotate(45 140 105) rotate(-45);
    height: 100%;
    left: 0;
    top: -1px;
    z-index: -1;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 700px;
}

.avatar {
    width: 100px;
}

.login-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.input-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #ececec;
}

.input-wrapper:after, .input-wrapper:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: gold;
    transition: 0.3s;
}

.input-wrapper:after {
    right: 50%
}

.input-wrapper:before {
    left: 50%
}

.input-wrapper.focus:after, .input-wrapper.focus:before {
    width: 50%;
}

.input-wrapper.focus .icon i {
    color: gold;
}

.input-wrapper.focus div h5 {
    top: -22px;
    font-size: 15px;
}

.input-wrapper.input-fisrt {
    margin-top: 0;
}

.input-wrapper.input-second {
    margin-bottom: 4px;
}

.input-wrapper>div {
    position: relative;
    height: 45px;
}

.input-wrapper>div h5 {
    position: absolute;
    left: 10px;
    top: 0px;
    transform: translateY(-70%);
    color: #a7a5a5;
    font-size: 18px;
    transition: .3;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 18px;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: .3s;
}

.icon i {
    color: #a7a5a5;
    transition: 0.3s;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 35px;
    transition: .3s;
}

a:hover {
    color: gold;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-size: 200%;
    transition: .5s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-login {
    background-image: linear-gradient(146.18deg, #F9A826 6.79%, #FFB800 52.43%, rgb(245, 78, 12) 91.71%);
}

.btn-register {
    background-image: linear-gradient(146.18deg, #F9A826 6.79%, #FFB800 52.43%, #ff304f 91.71%);
}

.btn:hover {
    background-position: right;
}

.p-or {
    font-size: 1rem;
    color: #333333;
    text-transform: uppercase;
}

@media screen and (max-width: 1050px) {
    .wrapper {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }
    form h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
    .login-wrapper {
        justify-content: center;
    }
    .img {
        display: none;
    }
    .wave {
        display: none;
    }
}